@media (min-width: 1880px) {
  .wrapper .img {
    width: 20%;
    right: 67%;
    margin-top: 10%;
  }

  .wrapper .form {
    padding-top: 50%;
  }

  .wrapper .footer {
    margin: 38%;
    left: -39%;
  }

  .display {
    margin-top: -20%;
    padding: 0;
  }

  .wrapper .display-button {
    width: 40%;
    height: 2%;
  }
}

@media (min-width: 1255px) {
  .wrapper .img {
    width: 20%;
    right: 67%;
    margin-top: 10%;
  }

  .wrapper .form {
    padding-top: 50%;
  }

  .wrapper .footer {
    margin: 38%;
    left: -39%;
  }

  .display {
    margin-top: -20%;
    padding: 0;
  }

  .wrapper .display-button {
    width: 40%;
    height: 2%;
  }
}

@media (max-width: 765px) {
  .login-screen,
  .display {
    margin-top: -1%;
    margin-left: -1%;
    margin-bottom: 100%;
    padding-bottom: -10%;
  }

  .wrapper .display {
    font-size: 17px;
  }

  .wrapper .display-button {
    height: 7%;
  }
}

@media (min-width: 441px) {
  .login-screen,
  .display {
    margin-bottom: 50%;
    padding-bottom: 100%;
  }

  .wrapper .display {
    font-size: 20px;
  }

  .wrapper .display-button {
    height: 7%;
  }
}

body {
  font-family: 'Roboto';
  overflow: hidden;
}

.user,
.pass {
  margin: 0;
  margin-left: 10%;
}

.wrapper {
  display: flex;
  margin: -1%;
}

html {
  min-height: 100%;
  position: relative;
}

input[type='text'],
textarea,
input[type='password'] {
  color: #fff;
}

.footer {
  width: 35%;
  text-align: center;
  position: absolute;
  bottom: 25%;
  color: #fff;
  padding-top: 40px;
  padding-bottom: 5%;
  padding-left: 7%;
  font-size: 13px;
  color: grey;
}

.login-screen {
  background-color: #151515;
  color: #fff;
  width: 50%;
  padding-bottom: 130%;
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: -50%;
  margin-right: -1%;
}

.name,
.password {
  padding: 2%;
  margin-left: 10%;
  width: 70%;
  background-color: #151515;
  border-color: grey;
}

.form {
  padding-top: 80%;
  margin-right: -10%;
  margin-left: 0;
  position: relative;
}

.up {
  margin-top: -1%;
  text-align: center;
}

.img {
  width: 30%;
  margin-top: 15%;
  margin-left: 4%;
  position: absolute;
}

.display {
  width: 70%;
  padding-left: 2%;
  padding-top: 43%;
  text-align: center;
  background: url('https://image.ibb.co/cO9Lxq/login-bg.jpg') center;
  color: #fff;
  margin-bottom: -50%;
  font-size: 30px;
}

.display-button {
  width: 60%;
  height: 3%;
  background: transparent;
  color: #fff;
  font-size: 15px;
  border-radius: 2px;
}

.display-button:hover {
  cursor: pointer;
  border-color: #ff6a00;
  color: #ff6a00;
  transition: 0.5s ease-in-out;
  transition-duration: 0.5s ease-in-out, 1s ease-in;
}

.account {
  width: 60%;
  padding: 10px;
  background: transparent;
  color: #fff;
  font-size: 15px;
  border-radius: 2px;
}

.account:hover {
  cursor: pointer;
  border-color: #ff6a00;
  color: #ff6a00;
  transition: 0.5s ease-out;
  transition: 0.5s ease-in;
}

.account:after:hover {
  transition-timing-function: ease-out;
}

.submit {
  width: 73%;
  padding: 13px;
  margin-left: 11%;
  background: #ff6a00;
  color: #fff;
  font-size: 11px;
  border: none;
  border-radius: 2px;
}

.submit:hover {
  cursor: pointer;
  opacity: 0.9;
}

.footer a {
  color: #ff6a00;
}
